div#about {
  >div.content-img{
    width: 100%;
    height: auto;
    @media screen and (max-width:1400px){
      width:1400px;
      height:auto;
    }
    img {
      display:block;
      width: 100%;
    }
  }
  >div.introduce{
    width:1200px;
    height:auto;
    margin: 40px auto;
    >div:first-child{
      width:220px;
      height:57px;
      margin:0 auto;
      margin-bottom:50px;   
      >img{
        display:block;
        width:100%;
      }
    }
    >h3:nth-child(2){
      margin-bottom:20px;
    }
    >h6:nth-child(3){
      font-weight:normal;
      margin-bottom:19px;
    }
    >h6:nth-child(4){
      font-weight:normal;
      margin-bottom:19px;
    }
    >ul:nth-child(5){
      width:1200px;
      height:320px;
      display:flex;
      justify-content:space-between;
      >li{
        flex-basis:250px;
        height:100%;
        >div:first-child{
          width:250px;
          height:250px;
          >img{
            display:block;
            width:100%;
          }
        }
        >h3{
          margin-top:10px;
          line-height:20px;
          font-size:20px;
          font-weight:normal;
        }
        >p{
          margin-top:10px;
        }
      }
    }
  }


}
